<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Create Item</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
</head>
<body>
<h2>List Items</h2>
<table id="itemsTable" class="display">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Material</td>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.nomenclature}">Item Name</td>
        <td th:text="${item.description}">Item Description</td>
        <td th:text="${item.material}">Item Material</td>      
        <td th:text="${item.id}"></td>  
        
        <td><a th:href="@{/items-gui/{id}/delete(id=${item.id})}">delete</a></td>
        <td><a th:href="@{/items-gui/{id}/show(id=${item.id})}">show</a></td>

    </tr>
</table>
<script>
    $(document).ready(function() {
        $('#itemsTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true
        });
    });
</script>
</body>
</html>